---
BasedOnStyle: Google
Language: Cpp
AccessModifierOffset: -4
AlignOperands: AlignAfterOperator
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
#BitFieldColonSpacing: Both
#BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 120
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentWidth: 4
#IndentRequires: true
IndentWrappedFunctionNames: true
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: false
TabWidth: 4
UseCRLF: false
UseTab: ForIndentation
...
